* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
    background: black;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Playfair Display', serif;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #000, #444);
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.hero h2 {
    font-family: 'Playfair Display', serif;
    font-size: 34px;
}

/* SECTIONS */
section {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

section h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: 'Playfair Display', serif;
}

/* ABOUT */
.about {
    max-width: 900px;
    text-align: center;
}

.about p {
    line-height: 1.8;
    color: #444;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background: #f2f2f2;
    border-radius: 8px;
}

.buy-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn {
    margin-top: 8px;
    padding: 8px;
    width: 100%;
    background: #c0392b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* ADMIN */
#admin input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

#admin button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.logout-btn {
    background: red !important;
    margin-top: 10px;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}